@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>Gummi Bear Kingdom</title>
</head>

<body>
    <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
    <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
    <img class="mySlides" src="~/img/gummigroup.jpg" alt="Gummi Group">
    <img class="mySlides" src="~/img/gummisketches.jpg" alt="Gummi Sketches">
    <img class="mySlides" src="~/img/gummicast.jpg" alt="Gummi Cast">
    <img class="mySlides" src="~/img/gummipoint.jpg" alt="Gummi Point">

</body>
</html>
