@{
    ViewData["Title"] = "Landing Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>Gummi Bear Kingdom</title>
</head>

<body>
    <div class="homeindex"></div>
</body>
</html>
