@model GummiBearKingdom.Models.Category

<html>
<head>
    <title>Gummy Bear Kingdom - Category Details</title>
</head>

<body>
    <h2>Product Details</h2>
    <hr />
    @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)

    <p>@Html.ActionLink("Back to Categories List", "Index")</p>>
</body>
</html>
